/* Dashboard.css */

/* Light mode styles */
body {
    background: linear-gradient(135deg, #4fabcf, #ce7e41);
    color: #000000;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 30px;
}

.dashboard {
    padding: 20px;
}
.chatbot-link-container {
    background-color: #126087!important;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.chatbot-link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.chatbot-link:hover {
    background-color: #0056b3;
}

.card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

/* .chatbot-link-container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
} */

.chatbot-link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.chatbot-link:hover {
    background-color: #0056b3;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    border-color: #333;
}